*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
body{
    font-family: 'Poppins', sans-serif;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color : #555;
}
.container{
    max-width: 1300px;
    margin : auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: width 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 200px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn {
    display: inline-block;
    background: green;
    color: #fff;
    padding: 12px 40px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 16px;
    vertical-align: middle;
    position: relative;
    top: 15px;
    transition: background 0.5s;
}
.btn:hover{
    background: rgb(14, 126, 231);
}
.header{
    background: radial-gradient(#f8f7f7,#fcfcfc);
}
.header .row{
    margin-top: 30px;
}
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

/* Category images - maintains consistent aspect ratio */
.col-3 img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    display: block;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px; 
}

/* Product cards - maintains consistent aspect ratio */
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
    display: flex;
    flex-direction: column;
}

.col-4 img {
    width: 100%;
    aspect-ratio: 1 / 1.2;
    object-fit: cover;
    display: block;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555; 
}
.title::after{
    content: '';
    background: black;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.rating .fa{
    color: green;
}
.col-4:hover{
    transform: translateY(-5px);
}

.offer {
    background: radial-gradient(#efefef,#fcfcfc);
    margin-top: 80px;
    padding: 30px 0;
}

.col-2 .offer-img{
    padding: 50px;
}
small{
    color: #555;
}

/* ------- testimonial -------*/
.testimonial{
    padding-top: 50px;
    padding-bottom: 50px;
}

.testimonial .row {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-wrap: wrap;
}

.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    background: #f9f9f9;
    border-radius: 8px;
    margin: 15px;
    flex-basis: calc(33.333% - 30px);
    min-width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 380px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.5s ease;
}

.testimonial .col-3:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.2);
}

.testimonial .col-3 p{
    font-size: 12px;
    line-height: 1.8;
    color: #777;
    margin:12px 0 ;
    text-align: center;
    flex-grow: 1;
}

.testimonial .col-3 .fa-quote-left{
    font-size: 34px;
    color: green;
    margin-bottom: 15px;
}

.testimonial .col-3 .rating{
    margin-bottom: 20px;
}

.testimonial .col-3 .rating .fa{
    color: green;
    font-size: 18px;
    margin: 0 3px;
}

.testimonial .col-3 img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin: 20px auto 15px;
    display: block;
    margin-top: auto;
}

.testimonial .col-3 h3{
    color: #555;
    font-size: 16px;
    font-weight: 600;
}

/*--------= brands --------- */
.brands{
    margin: 100px auto;
}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer; 
    filter: grayscale(100%);
}

/*------ footer -------->*/
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p{
    color: #8a8a8a;
}

.footer h3{
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1{
    flex-basis: 30%;
}

.footer-col-2{
    flex: 1;
    text-align: center;
}

.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}

.app-logo{
    margin-top: 20px;
}

.app-logo img{
    width: 140px;
}

.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0; 
}

.copyright{
    text-align: center;
}

.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}

/*---- media query for menu ------ */
@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}

@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
}
.date{
    color: red;
}